.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  z-index: 3;

}
.logo {
  width: 228px;
  height: 32px;  
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  align-self: center;
  margin: 0;
  max-width: 730px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 2;  
}

.header__subtitle {
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  width: 756px;
  height: 600px;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.description {
  padding: 100px 0 0;  
}

.two-columns {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  min-width: 175px;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;  
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 1.2;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0 0 30px;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  margin: 0 auto;
  padding: 100px 0 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0 auto;
}

.section-subtitle {
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width: 1100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  list-style: none;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 20px auto 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  box-sizing: border-box;
  background-color: #f2f2f2;
  min-height: 890px;
  position: relative;
  padding-top: 100px;
}

.feynman__title {
  position: relative;
  margin: auto;
  text-align: center;
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  position: relative;
  text-align: center;
  margin: 70px auto auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal; 
  
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__background {
  background-image: url(../images/feynman.png);
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 867px;
  height: 637px;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  padding: 90px 0 90px;
  overflow: hidden;
}

.section-title_theme_dark {
  position: relative;
  margin: 0 auto 0;
  color: #f2f2f2;
}

.section-subtitle_theme_dark {
  position: relative;
  margin: 20px auto 0;
  color: #f2f2f2; 
}

.table_theme_dark {
  position: relative;
  margin: 0 auto 0px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;

}

.table__heading_theme_dark {
  color: #f2f2f2;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  top:0px;
  right: -210px;
}

.footer {
  min-height: 350px;
  display: flex;
  background-color: #1f1f1f;  
}


.footer__columns {
  margin: 60px auto 40px;
  width: 90%;
  display: flex;
  justify-content: space-between; 
}

.footer__column {
  display: flex;
  flex-direction: column;
  color:#f2f2f2;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links{
  line-height: 30px;
  font-size: 18px;
  list-style: none;
  font-weight: normal;
  margin: 20px 0 16px;
  padding: 0px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #f2f2f2;
}















